body {
  overflow-y: hidden
}

.input-field input[type="text"] {
  padding: 0 1em
}

#config {
  margin-top: 2em;
  padding: 1em 1em 0 1em
}

#configJSON {
  padding: .75em
}

#main {
  height: calc(100% - 64px);
  overflow-y: scroll
}
