@font-face {
    font-family: Roboto;
    src: url(../assets/font/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../assets/font/roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

body, html{
    height: 100%;
}

body{
    background-image: url(../assets/img/WeatherBotBackground.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#guide{
    background-color: #bcdcf3;
    border-radius: 5px;
    font-family: Helvetica, Roboto;
    height: 80vh; width: 50%;
    margin: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

#guide h2{
    color: #282e32;
    margin: .5em;
}

#guide img{
    width: 95%;
    margin: 0 .5em;
}

#main{
    display: flex;
    padding: 5% 15% 0 15%;
}

#main>div{
    padding: 5px;
}

#tweets{
    width: 50%
}

@media screen and (max-aspect-ratio: 8/7){
    body{
        overflow: hidden;
    }
    
    #guide{
        margin: 5px;
        height: auto; width: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #main{
        display: block;
        height: 95%;
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #tweets{
        width: auto;
    }
}