@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../assets/font/materialIcons.woff2) format("woff2");
}
body, html {
  height: 100%;
}

body {
  background-image: url(../assets/img/WeatherBotBackground.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

p {
  padding: 0.5em;
}

.clear.indigo.darken-4 {
  background-color: #1a237e88 !important;
}

.inline-icon {
  vertical-align: bottom;
  font-size: 18px !important;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

#main {
  height: 100%;
  overflow-y: scroll;
}

nav {
  background-color: unset;
}
nav ul a:hover {
  background-color: #1a237e;
}
nav .brand-logo {
  padding: 0 0.5em;
}

#main {
  height: calc(100% - 64px);
}

@font-face {
  font-family: Roboto;
  src: url(../assets/font/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../assets/font/roboto/Roboto-Bold.ttf);
  font-weight: bold;
}
body {
  margin: 0;
}

#guide {
  font-family: Helvetica, Roboto;
  height: 80vh;
  width: 50%;
  margin: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}
#guide h2, #guide h3 {
  margin: 0.5em;
}
#guide img {
  width: calc(100% - 1em);
  margin: 0 0.5em;
}
#guide table {
  background-color: #324a75;
  border-collapse: collapse;
  margin: 0.5em;
  overflow: hidden;
  text-align: center;
  width: calc(100% - 1em);
}
#guide table img {
  width: 36px;
}
#guide table td {
  border: 2px solid #282e32;
  color: #9ebad9;
}
#guide table td, #guide table tr:last-child {
  border-bottom: 0;
}
#guide table td:first-child {
  border-left: 0;
}
#guide table td:last-child {
  border-right: 0;
  font-size: 14pt;
}
#guide table th {
  background-color: #213d70;
  color: #adc3db;
  font-size: 14pt;
  padding: 0.75em;
}
#guide table tr:nth-child(2n) {
  background-color: #536078;
}

#main {
  display: flex;
  padding: 5% 10% 0 10%;
}
#main > div {
  padding: 5px;
}

#tweets {
  width: 50%;
}
#tweets a {
  color: orange;
  font-size: 18pt;
  font-weight: bold;
}

@media screen and (max-aspect-ratio: 8/7) {
  body {
    overflow: hidden;
  }

  #guide {
    margin: 5px;
    height: auto;
    width: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #main {
    display: block;
    height: 95%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #tweets {
    width: auto;
  }
  #tweets iframe#twitter-widget-0 {
    height: 24em !important;
  }
}