@font-face {
    font-family: Roboto;
    src: url(../assets/font/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../assets/font/roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

body, html{
    height: 100%;
}

body{
    background-image: url(../assets/img/WeatherBotBackground.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#guide{
    background-color: #475978;
    border-radius: 5px;
    font-family: Helvetica, Roboto;
    height: 80vh; width: 50%;
    margin: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

#guide h2, #guide h3{
    color: #adc3db;
    margin: .5em;
}

#guide img{
    width: 95%;
    margin: 0 .5em;
}

#guide table{
    background-color: #324a75;
    border-collapse: collapse;
    margin: .5em;
    text-align: center;
    width: calc(100% - 1em);
    border-radius: 1em;
    overflow:hidden;
}

#guide table img{
    width: 36px;
}

#guide td{
    border: 2px solid #282e32;
    color: #9ebad9;
}

#guide td:first-child{
    border-left: 0;
}

#guide td:last-child{
    border-right: 0;
}

#guide th{
    background-color: #213d70;
    color: #adc3db;
    padding: .75em;
}

#guide tr:last-child td{
    border-bottom: 0;
}

#guide tr:nth-child(2n){
    background-color: #536078;
}

#main{
    display: flex;
    padding: 5% 15% 0 15%;
}

#main>div{
    padding: 5px;
}

#tweets{
    width: 50%;
}

@media screen and (max-aspect-ratio: 8/7){
    body{
        overflow: hidden;
    }
    
    #guide{
        margin: 5px;
        height: auto; width: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #main{
        display: block;
        height: 95%;
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #tweets{
        width: auto;
    }
    
    #tweets iframe#twitter-widget-0{
        height: 24em !important;
    }
}