@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/font/ubuntu_mono/UbuntuMono-Regular.ttf) format('ttf');
}

/*
 * Hide number spinners for firefox
 */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-field {
  input[type=number] {
    -moz-appearance:textfield;
  }

  input[type="text"], input[type="number"] {
    box-sizing: border-box;
    padding-left: 1em
  }

  input[type=text]:focus + label {
    color: white !important;
  }

  input:focus, textarea:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
  }
  
  textarea:focus + label {
    color: white !important;
  }

  textarea.code {
    font-family: "Ubuntu Mono"
  }

  .abbreviation-autocomplete {
    input {
      margin-bottom: 0
    }

    ul {
      background-color: #283593 !important;
      color: #bbb;

      li {
        span.highlight {
          color: white
        }
      }

      li.selected {
        background-color: #3949ab;
      }

    }
  }
}

