@use 'theme';
@use 'themeForms';
@use 'nav';

body {
  overflow-y: hidden
}

.abbreviation-autocomplete {
  input[type="text"] {
    background-color: #283593;
    color: #fff
  }

  ul {
    z-index: 1
  }
}

.tabs {
  .indicator {
    background-color: #eee;
  }

  .tab a.active {
    background-color: #3949ab;
    color: #fff
  }
  
  .tab a:focus.active {
    background-color: #3949ab;
  }
}

#config {
  margin-top: 2em;
  padding: 1em 1em 0 1em
}

#configJSON {
  padding: .75em
}
