<div id="about-modal" class="modal indigo darken-3">
  <div class="modal-content white-text">
    <h4>About COMOWeatherBot</h4>
    {{> aboutText}}
  </div>
  <div class="modal-footer indigo darken-3">
    <a href="#!" class="modal-close btn-flat white-text">Close</a>
  </div>
</div> 
