<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" sizes="32x32" href="/COMOWeather/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/COMOWeather/favicon-16x16.png">
        <title>About COMOWeather</title>
        {{> shared-styles}}
        <link rel="stylesheet" href="css/about.css">
    </head>
    <body>
        {{> nav}}
        <div id="main">
          <p><a href="https://twitter.com/COMOWeatherBot">@COMOWeatherBot</a> is a running instance of <a href="https://github.com/FireLemons/TwitterWeatherBot">TwitterWeatherBot</a> configured for Columbia, Missouri. Every 2 hours it tweets a forecast for the near future with a random weather fact. It also tweets weather alerts when they're present. It retweets the St.Louis National Weather Service because it's the station that also covers the Columbia area. Unfortunately the bot has to stop running from time to time but it posts a catch-up forecast the second it's back online.</p>
        </div>
    </body>
</html>
