<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" sizes="32x32" href="/COMOWeather/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/COMOWeather/favicon-16x16.png">
        <title>About COMOWeather</title>
        {{> sharedStyles}}
        <link rel="stylesheet" href="css/about.css">
    </head>
    <body>
        {{> nav}}
        <div id="main">
        {{> aboutText}}
        </div>
    </body>
</html>
