<p><a href="https://twitter.com/COMOWeatherBot">@COMOWeatherBot</a> is a running instance of <a href="https://github.com/FireLemons/TwitterWeatherBot">TwitterWeatherBot</a> configured for Columbia, Missouri. Every 2 hours it tweets a forecast for the near future with a random weather fact. If there are any weather alerts those will also be tweeted. It retweets everything from the St.Louis National Weather Service station because the St.Louis office covers the Columbia area.</p>
