<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <title>COMOWeather</title>
        {{> shared-styles}}
        <link rel="stylesheet" href="css/index.css">
        <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
        <script src="materialize/js/materialize.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {{> nav}}
        <div id="main">
            <div id="guide">
                <h2>Forecast Reference</h2>
                <img src="./assets/img/forecast_reference.png"/>
                <h3>Icon Meanings</h3>
                <table>
                    <tr>
                        <th>Icon(s)</th>
                        <th>Conditions</th>
                    </tr>
                    <tr>
                        <td>☀️</td>
                        <td>clear skies</td>
                    </tr>
                    <tr>
                        <td>🌥️</td>
                        <td>few clouds, scattetred clouds</td>
                    </tr>
                    <tr>
                        <td>☁️</td>
                        <td>broken clouds, overcast clouds</td>
                    </tr>
                    <tr>
                        <td>⛈️</td>
                        <td>thunderstorm with rain</td>
                    </tr>
                    <tr>
                        <td>🌩️</td>
                        <td>thunderstorm</td>
                    </tr>
                    <tr>
                        <td>🌩️+🌦️</td>
                        <td>thunderstorm with drizzle</td>
                    </tr>
                    <tr>
                        <td>🌦️</td>
                        <td>drizzle</td>
                    </tr>
                    <tr>
                        <td>🚿+🌧️</td>
                        <td>shower rain and drizzle, shower drizzle</td>
                    </tr>
                    <tr>
                        <td>🌧️</td>
                        <td>rain</td>
                    </tr>
                    <tr>
                        <td>🌧➜❄️</td>
                        <td>freezing rain</td>
                    </tr>
                    <tr>
                        <td>🚿</td>
                        <td>shower rain</td>
                    </tr>
                    <tr>
                        <td>💨</td>
                        <td>squalls</td>
                    </tr>
                    <tr>
                        <td>🌪️</td>
                        <td>tornado</td>
                    </tr>
                    <tr>
                        <td>🌨️</td>
                        <td>snow</td>
                    </tr>
                    <tr>
                        <td>☄️</td>
                        <td>sleet</td>
                    </tr>
                    <tr>
                        <td>🚿+☄️</td>
                        <td>shower sleet</td>
                    </tr>
                    <tr>
                        <td>🌧️+🌨️</td>
                        <td>rain and snow</td>
                    </tr>
                    <tr>
                        <td>🚿+🌨️</td>
                        <td>shower snow</td>
                    </tr>
                    <tr>
                        <td>🌫️</td>
                        <td>mist, fog</td>
                    </tr>
                    <tr>
                        <td>🔥➜🌫️</td>
                        <td>smoke</td>
                    </tr>
                    <tr>
                        <td>🌫️Haze</td>
                        <td>haze</td>
                    </tr>
                    <tr>
                        <td>🌪️Sand</td>
                        <td>sand whirls, dust whirls</td>
                    </tr>
                    <tr>
                        <td>🌫️Sand</td>
                        <td>sand</td>
                    </tr>
                    <tr>
                        <td>🌫️Dust</td>
                        <td>dust</td>
                    </tr>
                    <tr>
                        <td>🌋➜🌨️</td>
                        <td>volcanic ash</td>
                    </tr>
                </table>
                <img src="./assets/img/direction_guide.png"/>
            </div>
            <div id="tweets">
                <a class="twitter-timeline" href="https://twitter.com/COMOWeatherBot?ref_src=twsrc%5Etfw" data-height="100%">Tweets by COMOWeatherBot (Javascript is disabled)</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <div id="about-modal" class="modal indigo darken-3">
            <div class="modal-content white-text">
            <h4>About COMOWeatherBot</h4>
            <p><a href="https://twitter.com/COMOWeatherBot">@COMOWeatherBot</a> is a running instance of <a href="https://github.com/FireLemons/TwitterWeatherBot">TwitterWeatherBot</a> configured for Columbia, Missouri. Every 2 hours it tweets a forecast for the near future with a random weather fact. It also tweets weather alerts if there are any. It retweets the St.Louis National Weather Service station because it's the station that also covers the Columbia area. Unfortunately the bot has to stop running from time to time but it posts a catch-up forecast the second it's back online.</p>
        </div>
        <div class="modal-footer indigo darken-3">
          <a href="#!" class="modal-close btn-flat white-text">Close</a>
        </div>
  </div> 
        <script src="js/theme.js"></script>
    </body>
</html>
