<link rel="stylesheet" href="{{& extended-path }}materialize/css/materialize.min.css">
{{#js-possible}}
<noscript>
{{/js-possible}}
  <link rel="stylesheet" href="{{& extended-path }}css/nojs.css">
{{#js-possible}}
</noscript>
{{/js-possible}}
